.btn + .btn {
    margin-right: 5px;
}

.text {
    font-size: 20px;
}

.image {
    width: 140px;
    height: 140px;
    float: left;
    margin-right: 10px;
}
#addRentalBtn {
    padding: 2px 12px 2px 12px;
    margin-left: 10px;
}